






<div id="conteneur-etiquette">
      <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0" >Qu'avez-vous fait dernièrement ?</h6>
                  <div class="dropdown no-arrow">
                    <%= link_to events_path, :class=>"dropdown-toggle" do %>
                      <i class="fas fa-times fa-sm fa-fw white-cross"></i>
                    <% end %>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in card-modify" aria-labelledby="dropdownMenuLink">


                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h6>Intitulé</h6>
    <%= form.label :titre %>
    <%= form.text_field :titre, id: :event_titre %>
  </div>
  <h6>Commentaire</h6>
  <div class="field">
    <%= form.label :commentaire %>
    <%= form.text_area :commentaire, id: :event_commentaire %>
  </div>
  <h6>Date</h6>
  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :event_date %>
  </div>



  <div class="form-actions"><center>
    <%= form.submit :class => 'button-action' %>
  </div></center>
<% end %>
