
<%= render 'sidebar' %>

          <div class="icone-page"><img src="/images/historique.png"></div>
          <h1>Historique</h1></div>

<%= render 'navbar' %>


  <p>Historique des modifications</p>    
<%= link_to 'Ajouter une modification', new_event_path %>
  <div id="conteneur-etiquette">
    <% @events.each do |event| %>
      
        <div class="etiquette">
          <div class="header-etiquette">
            <%= event.date %>
            <%= event.titre %>
            <%= event.commentaire %>
            <%= link_to 'Voir', event %>
        <%= link_to 'Modifier', edit_event_path(event) %>
        <%= link_to 'Supprimer', event, :method => :delete, data: { confirm: 'Êtes-vous sûr?' } %>
      </div>
        </div>

        
        
      
    <% end %></div>
  




<%= render 'footer' %>


