
<%= render 'sidebar' %>

          <div class="icone-page"><img src="/images/historique.png"></div>
          <h1>Mon historique</h1></div>

<%= render 'navbar' %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h2 class="h3 mb-0 text-gray-800">Historique des évènements</h1>
            <%= link_to '+ Ajouter un évènement', new_event_path, :class=>"button-action" %>
          </div>

  <div id="conteneur-etiquette">
    <% @events.each do |event| %>
      <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary"><%= event.date.strftime("%d/%m/%Y") %> | <%= event.titre %></h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-white"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in card-modify" aria-labelledby="dropdownMenuLink">

                      <%= link_to edit_event_path(event), :class=>"dropdown-item" do %>
                      <i class="far fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                      Modifier
                      <% end %>
                      <div class="dropdown-divider"></div>
                      <%= link_to event, :class=>"dropdown-item logout", :method => :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cela ?' } do %>
                      <i class="far fa-trash-alt fa-sm fa-fw mr-2"></i>
                      Supprimer
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <%= event.commentaire %>
                </div>
              </div>



    <% end %></div>


<%= render 'footer' %>



