
<%= render 'sidebar' %>

          <div class="icone-page"><img src="images/historique.png"></div>
          <h1>Historique de la prothèse 1</h1></div>

<%= render 'navbar' %>


  <thead>
    <tr>
      <th >Titre</th>
      <th>Commentaire</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody><div id="conteneur-etiquette">
    <% @events.each do |event| %>
      
        <div class="etiquette">
            <%= event.date %>
            <%= event.titre %>
            <%= event.commentaire %>
            <%= link_to 'Voir', event %>
        <%= link_to 'Modifier', edit_event_path(event) %>
        <%= link_to 'Supprimer', event, :method => :delete, data: { confirm: 'Êtes-vous sûr?' } %>
        </div>

        
        
      
    <% end %></div>
  </tbody>


<%= link_to 'New Event', new_event_path %>

<%= render 'footer' %>


