


<%= render 'sidebar' %>

          <div class="icone-page"><img src="/images/stethoscope.svg"></div>
          <h1>Historique de la prothèse 1</h1></div>

<%= render 'navbar' %>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>

<%= render 'footer' %>

