<%= render '/events/sidebar' %>

          <div class="icone-page"><img src="/images/stethoscope.svg"></div>
          <h1>Mes prothèses</h1></div>

<%= render '/events/navbar' %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h2 class="h3 mb-0 text-gray-800">Mes prothèses</h1>
            <%= link_to '+ Ajouter une prothèse', new_gear_path, :class=>"button-action" %>
          </div>



  <div id="conteneur-etiquette">
    <div class="row">
    <% @gears.each do |gear| %>
      <div class="card shadow col-xs-6 mb-4 card_prothese" style="width:100%;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <span class="link-white">
                  <%= link_to gear do %>
                  <h5 class="m-0" ><%= gear.name %> <span class="details">afficher plus de détails</span></h5>
                  <% end %>
                  </span>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-white"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in card-modify" aria-labelledby="dropdownMenuLink">

                      <%= link_to edit_gear_path(gear), :class=>"dropdown-item" do %>
                      <i class="far fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                      Modifier
                      <% end %>
                      <div class="dropdown-divider"></div>
                      <%= link_to gear, :class=>"dropdown-item logout", :method => :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cela ?' } do %>
                      <i class="far fa-trash-alt fa-sm fa-fw mr-2"></i>
                      Supprimer
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  ✔️ Prothèse installée le <%= gear.installation %><br>
                  ⚠️ Elle expirera le <%= gear.expiry %><br><br>
                  <%= gear.description %>
                </div>
    </div>
                </div>
              </div>





    <% end %></div></div>




<%= render '/events/footer' %>
