<%= render '/events/sidebar' %>

          <div class="icone-page"><img src="/images/stethoscope.svg"></div>
          <h1>Mes prothèses</h1></div>

<%= render '/events/navbar' %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h2 class="h3 mb-0 text-gray-800">Mes prothèses</h1>
            <%= link_to '+ Ajouter une prothèse', new_gear_path, :class=>"button-action" %>
          </div>



  <div id="conteneur-etiquette">
    <% @gears.each do |gear| %>
      <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary"><%= gear.name %></h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in card-modify" aria-labelledby="dropdownMenuLink">

                      <%= link_to edit_gear_path(gear), :class=>"dropdown-item" do %>
                      <i class="far fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                      Modifier
                      <% end %>
                      <div class="dropdown-divider"></div>
                      <%= link_to gear, :class=>"dropdown-item logout", :method => :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cela ?' } do %>
                      <i class="far fa-trash-alt fa-sm fa-fw mr-2"></i>
                      Supprimer
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <%= gear.description %><br><%= gear.serie %><br><%= gear.installation %><br><%= gear.expiry %>
                </div>
              </div>



    <% end %></div>

        <div class="row">
<div class="card col-xs-6 card_prothese">
  <h5 class="card-header">Prothese n°1</h5>
  <div class="card-body">

    <div>
      <label for="zoneinfo">Nom</label>
      <input type="text" class="form-control" disabled="disabled" >
    </div>

    <div>
      <label for="inputinstall">Date d'installation</label> 
      <input type="date" class="form-control"  disabled="disabled" >
    </div>

    <div>
      <label for="inputend">Date d'expiration</label>
      <input type="date" class="form-control"  disabled="disabled" >
    </div>

    <div>
      <label for="zoneinfo">Description</label>
      <Form>
        <Textarea name="nom" rows=4 cols=40 id="zoneinfo" disabled="disabled"></Textarea>
      </Form>
    </div>
  </div>
</div>


<%= render '/events/footer' %>
