
<%= render '/events/sidebar' %>

          <div class="icone-page"><img src="/images/stethoscope.svg"></div>
          <h1>Ma prothèse</h1></div>

<%= render '/events/navbar' %>

  <div id="conteneur-etiquette">
    <div class="row">
      <div class="card shadow col-xs-6 mb-4 card_prothese" style="width: 100%;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h5 class="m-0" ><%= @gear.name %></h5>
                  <div class="dropdown no-arrow">
                    <%= link_to gears_path, :class=>"dropdown-toggle" do %>
                      <i class="fas fa-times fa-sm fa-fw white-cross"></i>
                    <% end %>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body no-underline">
                  ✔️ Prothèse installée le <%= @gear.installation %><br>
                  ⚠️ Elle expirera le <%= @gear.expiry %><br><br>
                  <%= @gear.description %><br><br>
                  Derniers évènements relatifs à cette prothèse :<br><br>
                  <% @events.each do |event| %>
                    <%= link_to event do %>
                      <span class="user"><%= event.titre %></span><br><br>
                    <% end %>
                  <% end %>
                </div>
              </div>





    </div></div>




<%= render '/events/footer' %>
